<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title>Austin Rochford - $title$</title>

        <link rel="stylesheet" type="text/css" href="/css/bootswatch/cosmo.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/custom.css" />

        <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>  
        <script>
            $$(document).ready(function(){
                $$("#menu-$title$").addClass("active");
            }); 
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/index.html">Austin Rochford <small>{Math, Data, Software}</small></a>
                    <ul class="nav">
                        <li id="menu-Home"><a href="/index.html">Home</a></li>
                        <li id="menu-About"><a href="/about.html">About</a></li>
                        <li id="menu-Posts"><a href="/posts.html">Posts</a></li>
                        <li id="menu-Tags"><a href="/tags.html">Tags</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="http://www.github.com/AustinRochford"><img src="/images/github.png" style="margin:0 5px 0 0" />GitHub</a></li>
                        <li><a href="http://www.twitter.com/AustinRochford"><img src="images/twitter.png" style="margin:0 5px 0 0" />Twitter</a></li>
                        <li><a href="http://www.linkedin.com/pub/austin-rochford/67/633/222"><img src="/images/linkedin.png" style="margin:0 5px 0 0" />LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            $body$
        </div>
    </body>
</html>
