<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Austin Rochford - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/bootswatch/bootstrap.min.css" />
        <style>
            body {background-image: url(/textures/paper_fibers.png); background-repeat: repeat;}
        </style>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/index.html">Austin Rochford <small>[Math, Data, Software]</small></a>
                    <ul class="nav">
                        <li class="$home-active$"><a href="/index.html">Home</a></li>
                        <li class="$about-active$"><a href="/about.html">About</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="http://www.github.com/AustinRochford"><img src="/images/github.png" style="margin:0 5px 0 0" />GitHub</a></li>
                        <li><a href="http://www.linkedin.com/pub/austin-rochford/67/633/222"><img src="/images/linkedin.png" style="margin:0 5px 0 0" />LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>$title$</h2>

            $body$
        </div>
    </body>
</html>
